
<div itemprop="review" itemscope itemtype="https://schema.org/Review">
     <div class="row mt-5 mb-2">
          <a name="testimonianze">
               <center><h2 class="">Recensioni</h2></center>
          </a>
     </div>
     <div class="row my-2">
          <div class="col-sm-12 col-md-4 my-2">

               <blockquote class="blockquote"><q>Professionale, scrupoloso e attento alle esigenze del cliente. Ha saputo consigliarmi nel migliore dei modi ed ho tappezzato da lui la cuscineria della mia barca. Un vero esperto del settore nautico. Lo consiglio vivamente.</q></blockquote>
               <figcaption class="blockquote-footer">
                    <cite title="Source Title">Marco V</cite>
               </figcaption>
               
          </div>
          <div class="col-sm-12 col-md-4 my-2">

               <blockquote class="blockquote"><q>Tapezzeria nautica di altissimo livello e grande qualità.</q></blockquote>
               <figcaption class="blockquote-footer">
                    <cite title="Source Title">MASSIMO D</cite>
               </figcaption>
               
          </div>
          <div class="col-sm-12 col-md-4 my-2">

               <blockquote class="blockquote"><q>Rapidi e professionali 👍</q></blockquote>
               <cite class="card-link"></cite>
               <figcaption class="blockquote-footer">
                    <cite title="Source Title">EZIO N</cite>
               </figcaption>
               
          </div>
     </div>

     <div class="row mt-4 mb-5">
          <div class="btn-group">
               <a href="https://search.google.com/local/reviews?placeid=ChIJr7JxIvrTOhMRZnJQofgKj7s" class="btn btn-primary">
                    ULTERIORI RECENSIONE
               </a>
               
               <a href="https://g.page/r/CWZyUKH4Co-7EB0/review" class="btn btn-outline-primary">
                    SCRIVI UNA RECENSIONE
               </a>
          </div>
     </div>
</div>