{% extends 'base_admin.html' %}

{% block title %}Create new Post{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
	{{ message }}
</div>
{% endfor %}
<div class="row justify-content-center">
	<div class="col-8 ">


<h1>Новий пост</h1>
	<form method="POST"  enctype="multipart/form-data" >
		<div class="mb-3">
			{{ form.hidden_tag() }}
      <p>{{ form.thumbnail.label(class="form-label") }} {{ form.thumbnail(class="form-control") }}</p>
      <p>{{ form.tags.label(class="form-label") }} {{ form.tags(class="form-select") }}</p> 
			<p>{{ form.title.label(class="form-label") }} {{ form.title(class="form-control") }}</p>
      <p>{{ form.short_desc.label(class="form-label") }} {{ form.short_desc(class="form-control") }}</p> 
      
			<p>{{ form.body.label(class="form-label") }} {{ form.body() }}</p> 
			<p>{{ form.submit(class="btn btn-primary") }}</p> 
		</div>
	</form>
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='body') }}


</div>

{% endblock %}



