{% extends 'base_admin.html' %}

{% block title %}Show all posts{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 ">

{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
  {{ message }}
</div>
{% endfor %}

<br><br>

<a href="{{ url_for('posts.create_post')}}" type="button" class="btn btn-success">
                
                Новий пост
</a>
<a href="{{ url_for('posts.create_tag')}}" type="button" class="btn btn-success">
                
                Новий tag
</a>
<br>
<br>
<br>






<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">slug</th>
      <th scope="col">name</th>
    </tr>
  </thead>
<tbody>

{% for tag in tags %}
  {% if tag.archive != True %}
    <tr>
      <td>{{ tag.id }}</td>
      <td>{{ tag.slug }}</td>
      <td>{{ tag.name }}</td>

      <td>
        <a type="button" class="btn btn-outline-danger" href="{{ url_for('posts.delete_tag', id=tag.id ) }}"> 
                delete
        </a>
      </td>
    </tr>
  {% endif %}
{% endfor %}

{% for tag in tags %}
  {% if tag.archive == True %}
    <tr class="table-danger" >
      <td>{{ tag.id }}</td>
      <td>{{ tag.slug }}</td>
      <td>{{ tag.name }}</td>

      <td>
        <a type="button" class="btn btn-success" href="{{ url_for('posts.publish_tag', id=tag.id ) }}">
                publish post
        </a>
        <a type="button" class="btn btn-danger" href="{{ url_for('posts.delete_tag', id=tag.id ) }}"> 
                delete
        </a>
      </td>
    </tr>
  {% endif %}
{% endfor %}
</tbody>
</table>




<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">order num</th>
      <th scope="col">slug</th>
      <th scope="col">title</th>
      <th scope="col">tags</th>
    </tr>
  </thead>
<tbody>

{% for post in posts %}
	{% if post.archive != True %}
    <tr>
      <td>{{ post.id }}</td>  
      <td>{{ post.slug }}</td>
      <td>{{ post.title }}</td>
      <td>
        {% if post.tags[0] %}
          {{ post.tags[0].name }}
        {% endif %}
      </td>
      <td>
        {% if post.thumbnail %}
        <img src="{{ url_for('download_post_image', slug=post.slug ,filename=post.thumbnail) }}" height="30px">
        {% endif %}
      </td>

      <td>
          <a type="button" class="btn btn-success" href="{{ url_for('posts.edit_post', id=post.id ) }}">
                
                edit
          </a>
     
      	<a type="button" class="btn btn-outline-danger" href="{{ url_for('posts.delete_post', id=post.id ) }}">
               
                delete
        </a>
    	</td>
    </tr>
  {% endif %}
{% endfor %}

{% for post in posts %}
  {% if post.archive == True %}
    <tr class="table-danger" >
      <td>{{ post.id }}</td>
      <td>{{ post.slug }}</td>
      <td>{{ post.title }}</td>
      <td>
        {% if post.tags[0] %}
          {{ post.tags[0].name }}
        {% endif %}
      </td>
      <td>
        {% if post.thumbnail %}
        <img src="{{ url_for('download_post_image', slug=post.slug ,filename=post.thumbnail) }}" height="30px">
        {% endif %}
      </td>
      <td>
          <a type="button" class="btn btn-success" href="{{ url_for('posts.publish', id=post.id ) }}">
                publish post
          </a>

          <a type="button" class="btn btn-success" href="{{ url_for('posts.edit_post', id=post.id ) }}">
                
                edit
          </a>
     
        <a type="button" class="btn btn-danger" href="{{ url_for('posts.delete_post', id=post.id ) }}">
               
                delete
        </a>
      </td>
    </tr>
  {% endif %}
{% endfor %}



</tbody>
</table>

</div>
</div>

{% endblock %}
