{% extends 'base.html' %}

{% block title %}index title{% endblock %}

{% block content %}

{% if posts %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for post in posts %}

  <div class="col">
    <div class="card  h-100">
      <img src="..." class="card-img-top" alt="{{ post.title }}" height="200px">
      <div class="card-body">
        <h2>{{ post.title }}</h2>
        {% if post.short_desc %}
          <p class="card-text">{{ post.short_desc}}</p>
        {% else %}
          <p class="card-text">{{ post.body|truncate(200)|safe}}</p>
        {% endif %}
      </div>
    </div>
  </div>
  
  {% endfor %}
</div>
{% endif %}


{% endblock %}
