{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}


{% block content %}
<div itemscope itemtype="https://schema.org/Organization" >
  <h1 class="d-none"><span itemprop="name">Cucito in Mare | Tappezzeria Nautica</span></h1>

  <div class="row py-5 justify-content-center" >
      <div class="col-sm-12 col-md-6 text-center">

        <img itemprop="logo" class="img-fluid" src="static/upload/main_set/{{ logo }}" alt="Cucito in Mare | Tappezzeria nautica">

      </div>
  </div>
</div>

{% include 'include/gallery.html' %}

{% include 'include/posts.html' %}

{% include 'include/recensioni.html' %} 

{% endblock %}

