{% extends 'base_admin.html' %}

{% block title %}Site Set{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
	{{ message }}
</div>
{% endfor %}


<div class="row">
	<div class="col-8 ">


		<h1>Site Set</h1>
		<form method="POST"  enctype="multipart/form-data" >
			<div class="mb-3">
				{{ form.hidden_tag() }}
				<p>{{ form.logo.label(class="form-label") }} {{ form.logo(class="form-control") }}</p>
				
				<p>{{ form.submit(class="btn btn-primary") }}</p> 
			</div>
		</form>


	</div>

{% endblock %}



