/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

 



a[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.thumb{
  max-height: 300px;  
  object-fit: cover;
}
