/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: 'Roboto', sans-serif;
  color: #5a5a5a;
}

 



a[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.thumb{
  max-height: 300px;  
  object-fit: cover;
}

/* Footer
-------------------------------------------------- */
.text-white{
  color: whitesmoke;
}
footer>div>a{
  text-decoration: none;
  color: #00cafc;
}
footer>div>a:hover{
  color: gray;
}