<a name="contatti"></a>



<footer class="row text-center py-5 bg-dark">

<div itemscope itemtype="https://schema.org/Organization" >

<div class="d-none" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
     <span itemprop="streetAddress">Via Lungomare Giovanni Caboto</span>
     <span itemprop="postalCode">04024</span>
     <span itemprop="addressLocality">Gaeta</span>,
     <span itemprop="addressCountry">Italy</span>
     <span itemprop="addressRegion">LT</span>
</div>

     <div class="col text-white py-5">
          <span class="h3" itemprop="name">Cucito in Mare | Tappezzeria Nautica</span>
           <span class="d-none" itemprop="description">Tappezzeria Nauticca Ittenirante di Gaeta, Italy. </span>

          <a href="tel:+39-347-767-6818" itemprop="telephone"><p class="h2 my-2"><b>+39 347 76 76 818</b></p></a>
          <br>
          <a class="h3" href="mailto:mailTo:tappnauticagaeta@gmail.com" itemprop="email">TappNauticaGaeta@gmail.com</a>
     </div>

</div> 

</footer>


