<div class="row mt-5 mb-2">
     <a name="testimonianze"><center><h2 class="">Recensioni</h2></center></a>
</div>
<div class="row my-2">
     <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
               <blockquote class="card-text"><q>Professionale, scrupoloso e attento alle esigenze del cliente. Ha saputo consigliarmi nel migliore dei modi ed ho tappezzato da lui la cuscineria della mia barca. Un vero esperto del settore nautico. Lo consiglio vivamente.</q></blockquote>
               <cite class="card-link">- Marco V</cite>
               </div>
          </div>
     </div>
     <div class="col">
          <div class="card">   
               <div class="card-body">
                    <blockquote class="card-text"><q>Tapezzeria nautica di altissimo livello e grande qualità.</q></blockquote>
                    <cite class="card-link">- MASSIMO D</cite>
               </div>
          </div>
     </div>
     <div class="col">
          <div class="card">
               <div class="card-body">   
                    <blockquote class="card-text"><q>Rapidi e professionali 👍</q></blockquote>
                    <cite class="card-link">- EZIO N</cite>
               </div>
          </div>
     </div>
</div>

<div class="row mt-4 mb-5">
     
          <center>
               <a href="https://search.google.com/local/reviews?placeid=ChIJr7JxIvrTOhMRZnJQofgKj7s" class="btn btn-lg btn-info">
                    ULTERIORI RECENSIONE
               </a>
               
               <a href="https://g.page/r/CWZyUKH4Co-7EB0/review" class="btn btn-lg btn-info">
                    SCRIVI UNA RECENSIONE
               </a>
          </center>

</div>








<a name="contatti"></a>

<footer>
     <div class="row my-5 pt-5">
          <div class="col">
               <h3>Contatti</h3>
               <div data-field="phone">
                    <a  class="btn btn-info btn-lg" href="tel:+39-347-767-6818" itemprop="telephone" dir="ltr">Chiama ora</a>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item" dir="ltr">347 767 6818</li>
                    </ul>
               </div>
          </div>


          <div class="col">
               <h3>Indirizzo</h3>
               <div data-field="address">
                    <a class="btn btn-info btn-lg" href="https://www.google.com/maps/dir//Tappezzeria+Nautica+Itinerante+%22Cucito+In+Mare%22/data=!4m8!4m7!1m0!1m5!1m1!1s0x133ad3fa2271b2af:0xbb8f0af8a1507266!2m2!1d13.5712911!2d41.215840199999995" target="_blank">Indicazioni stradali</a>
                    <address itemprop="address">
                         <div>Via Lungomare Giovanni Caboto</div>
                         <div>41.215916, 13.571407</div>
                         <div>04024 Gaeta LT</div>
                         <div>Italia</div>
                    </address>
               </div>
          </div>


          <div class="col">
               <h3>Orari di apertura</h3>
               <table itemprop="openingHours">
                    <tbody>
                         <tr>
                              <th class="">lun:</th>
                              <td class="">
                                   <span class="">09:00–17:00</span>
                              </td>
                         </tr>
                         <tr>
                              <th class="">mar:</th>
                              <td class="">
                                   <span class="">09:00–17:00</span>
                              </td>
                         </tr>
                         <tr>
                              <th class="">mer:</th>
                              <td class="">
                                   <span class="">09:00–17:00</span>
                              </td>
                         </tr>
                         <tr>
                              <th class="">gio:</th>
                              <td class="">
                                   <span class="">09:00–17:00</span>
                              </td>
                         </tr>
                         <tr>
                              <th class="">ven:</th>
                              <td class="">
                                   <span class="">09:00–17:00</span>
                              </td>
                         </tr>
                         <tr>
                              <th class="">sab:</th>
                              <td class="">
                                   <span class="">09:00–13:00</span>
                              </td>
                         </tr>
                         <tr>
                              <th class="">dom:</th>
                              <td class="">
                                   <span class="">Chiuso</span>
                              </td>
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>
</footer>