<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link link-dark px-2 active" aria-current="page">index</a></li>
        <li class="nav-item"><a href="{{url_for('add_user')}}" class="nav-link link-dark px-2">add_user</a></li>
        <li class="nav-item"><a href="{{url_for('add_post')}}" class="nav-link link-dark px-2">add post</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Ми в медіа</a></li>
      </ul>
      <ul class="nav"> 
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
      </ul>
    </div>
</nav>