{% if current_user.has_role('admin') %}
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="{{url_for('all_users')}}" class="nav-link link-dark px-2">users</a></li>
      <li class="nav-item"><a href="{{url_for('posts.index')}}" class="nav-link link-dark px-2">blog</a></li>
    </ul>
  </div>
</nav>
{% endif %}


<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
          <img src="/static/upload/main_set/logo.jpg" alt="" height="50" class="d-inline-block align-text-top">
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('index')}}" class="nav-link px-2 link-secondary">Nostri lavori</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Testimonianze</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Contatti</a></li>

        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="q" value="{{ request.args.get('q','') }}">
        </form>

        

          {% if current_user.is_active == False %}

            <ul class="nav"> 
              <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
            </ul>
      
            {% else %}

            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              </a>

            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
            </div>
          {% endif %}
      </div>
    </div>
  </header>
