{% if current_user.has_role('admin') %}
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="{{url_for('all_users')}}" class="nav-link link-dark px-2">Users</a></li>
      <li class="nav-item"><a href="{{url_for('posts.index')}}" class="nav-link link-dark px-2">Posts</a></li>
      <li class="nav-item"><a href="{{url_for('posts.all_images')}}" class="nav-link link-dark px-2">Gallery</a></li>
      <li class="nav-item"><a href="{{url_for('site_set')}}" class="nav-link link-dark px-2">Site Settings</a></li>
    </ul>
  </div>
</nav>
{% endif %}


<header class="p-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a href="{{url_for('index')}}" class="me-3 py-2 text-dark text-decoration-none">Nostri lavori</a>
        <a href="{{url_for('index')}}#testimonianze" class="me-3 py-2 text-dark text-decoration-none">Recensioni</a>
        <a href="{{url_for('index')}}#contatti" class="me-3 py-2 text-dark text-decoration-none">Contatti</a>
      </ul>
    </div>
  </div>
</header>





