<div class="row mt-5 mb-2">
     <a name="testimonianze"><center><h2 class="">Recensioni</h2></center></a>
</div>
<div class="row my-2">
     <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
               <blockquote class="card-text"><q>Professionale, scrupoloso e attento alle esigenze del cliente. Ha saputo consigliarmi nel migliore dei modi ed ho tappezzato da lui la cuscineria della mia barca. Un vero esperto del settore nautico. Lo consiglio vivamente.</q></blockquote>
               <cite class="card-link">- Marco V</cite>
               </div>
          </div>
     </div>
     <div class="col">
          <div class="card">   
               <div class="card-body">
                    <blockquote class="card-text"><q>Tapezzeria nautica di altissimo livello e grande qualità.</q></blockquote>
                    <cite class="card-link">- MASSIMO D</cite>
               </div>
          </div>
     </div>
     <div class="col">
          <div class="card">
               <div class="card-body">   
                    <blockquote class="card-text"><q>Rapidi e professionali 👍</q></blockquote>
                    <cite class="card-link">- EZIO N</cite>
               </div>
          </div>
     </div>
</div>

<div class="row mt-4 mb-5">
     
          <center>
               <a href="https://search.google.com/local/reviews?placeid=ChIJr7JxIvrTOhMRZnJQofgKj7s" class="btn btn-outline-dark btn-lg  ">
                    ULTERIORI RECENSIONE
               </a>
               
               <a href="https://g.page/r/CWZyUKH4Co-7EB0/review" class="btn btn-outline-dark btn-lg ">
                    SCRIVI UNA RECENSIONE
               </a>
          </center>

</div>