{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
	{{ name }} - {{ message }}
</div>
{% endfor %}


<h1>Update user...</h1>
<form action="/user/update/{{ user_to_update.id }}"method="POST" class="col-6 ">
	<div class="mb-3">
		{{ form.hidden_tag() }}
		<p>{{ form.email.label(class="form-label") }} {{ form.email(class="form-control", value=user_to_update.email) }}</p>
		<p>{{ form.username.label(class="form-label") }} {{ form.username(class="form-control", value=user_to_update.username) }}</p> 
		<p>{{ form.submit(class="btn btn-primary") }}</p> 
	</div>
</form>

{% for user in all_users %}
{{ user.id }}. {{ user.username }} - {{ user.email }} | 
<a href="{{ url_for('update_user', id=user.id )}}"> update </a>|
<a href="{{ url_for('userdelete', id=user.id )}}">delete</a>  <br>
{% endfor %}

{% endblock %}