{% extends 'base.html' %}
{% block title %}Create user{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
	{{ name }} - {{ message }}
</div>
{% endfor %}


<h1>add user...</h1>
<form method="POST" class="col-6 ">
	<div class="mb-3">
		{{ form.hidden_tag() }}
		<p>{{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}</p>
		<p>{{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}</p> 
		<p>{{ form.submit(class="btn btn-primary") }}</p> 
	</div>
</form>

<div class="row">
{% for user in all_users %}

      <div class="col-lg-4">
        <h2><small>id</small> #{{ user.id }}. {{ user.username }}</h2>
        <p>{{ user.email }}</p>
        <p><a href="{{ url_for('update_user', id=user.id )}}">update</a> |
		<a href="{{ url_for('userdelete', id=user.id )}}">delete</a></p>
      </div><!-- /.col-lg-4 -->

{% endfor %} 
</div>
{% endblock %}