{% extends 'base_admin.html' %}

{% block title %}All users{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-8 ">

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
      <th scope="col">active</th>
      <th scope="col">roles</th>
    </tr>
  </thead>
<tbody>


{% for user in users %}
	
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.active }}</td>
      <td>{% for role in user.roles %}
            {{ role.name }}
          {% endfor %}
      </td>
      <td>
      {% if user.username != 'admin' %}
      	<a type="button" class="btn btn-outline-danger" href="{{ url_for('userdelete', id=user.id ) }}">
                
                delete
        </a>
      {% endif %}
    	</td>
    </tr>

{% endfor %}
</tbody>
</table>

</div>
</div>

{% endblock %}
